.nav-button-blue {
    background-color: #0061ff;
    color: #c4ddf1;
    padding: .35rem .7rem;
    border: none;
}

.nav-button-blue:hover, .header-button:hover, .trial-button:hover {
    background-color: #3B85FF;
}

.nav-col .nav-button {
    padding: 1.4rem 0.75rem;
}

.nav-button:hover {
    border-bottom: 1px solid black;
}

.partner-text input[type=button]:hover, .white-btn:hover {
    background-color: #F5F5F5;
}

.input-radio {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.manual-radio {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1.5px solid lightgray;
    margin-right: 5px;
}

/* F.A.Q. */
.shift-right {
    margin-left: 40px;
}

.border-blue {
    border: 4px solid #0061ff;
}

.panel {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panel p {
    padding-top: 20px;
    width: 100%;
    font-weight: 400;
    font-size: .7rem;
}

.fa-solid.fa-arrow-down, .fa-solid.fa-angle-up {
    font-size: .6rem;
    float: right;
    padding-right: 40px;
}

.fa-solid.fa-angle-up {
    display: none;
}

.faq:hover .panel {
    display: block;
}

.faq:hover .fa-solid.fa-angle-down {
    display: none;
}

.faq:hover .fa-solid.fa-angle-up {
    display: block;
}
/* end F.A.Q. */

/* logo block */
.invert-resize {
    filter: invert(1);
    width: 120px;
}

.d-content {
    overflow: hidden;
}

.designit {
    background-color: #A3D39B;
    border: none;
}

.square.designit:hover {
    border: 10px solid #D1E9CD;
}

.square.asu:hover {
    border: 10px solid #880c3e;
}

.square.uf:hover {
    border: 10px solid #02b7ff;
}

.square.topps:hover {
    border: 10px solid #f75d5d;
}

.square.wbr:hover {
    border: 10px solid #fa223f;
}

.square.hearst:hover {
    border: 10px solid #d5e4f1;
}

.square.lonely:hover {
    border: 10px solid #364da8;
}

.square.clear:hover {
    border: 10px solid #fce580;
}

.designit-container {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.arizona, .topps, .clear {
    width: 40%;
}

.uf-img {
    width: 120px;
}

.d-content .hearst-content {
    width: 70%;
}

.d-content .clear-content, .d-content .topps-content {
    width: 40%;
}