* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.big-container {
    background-color: burlywood;
    width: 900px;
    height: 550px;
    margin: 0 auto;
    border: 1px dashed palevioletred;
    padding: 2rem 0;
}

/* navbar */
nav {
    width: 100%;
    height: 60px;
    background-color: mediumaquamarine;
    position: fixed;
    z-index: 1;
}

nav .nav-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-col {
    min-width: 30%;
    height: 100%;
    border: 1px dashed forestgreen;
    display: flex;
    align-items: center;
}

.nav-col-right {
    justify-content: flex-end;
    padding-right: 10px;
}

.nav-col .nav-logo {
    padding: 0rem .9rem;
}

.nav-logo img {
    height: 19px;
    vertical-align: middle;
}

.nav-col .nav-button {
    background-color: aquamarine;
    font-size: .75rem;
    padding: .3rem 1rem;
    border: 1px dashed darkcyan;
    text-align: center;
}

.nav-button.blue {
    background-color: #0061ff;
    color: white;
    padding: .3rem .7rem;
}
/* navbar */

/* header */
header {
    background-color: #B4D0E7;
    width: 100%;
    height: 600px;
    padding-top: 3.75rem;
}

header .big-container {
    position: relative;
    top: 40px;
}

.header-title {
    border: 1px dashed black;
    height: 130px;
}

.big-container .header-row {
    display: flex;
    width: 100%;
}

.big-container .header-col {
    width: 40%;
    height: calc(550px - 130px - 2rem);
    border: 1px dashed teal;
}

.header-col.header-col-right {
    flex-grow: 1;
}
/* header */