* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.big-container {
    background-color: burlywood;
    max-width: 900px;
    min-height: 80px;
    max-height: 550px;
    margin: 0 auto;
    border: 1px dashed palevioletred;
    padding: 2rem 0;
}

.main-container {
    background-color: cadetblue;
    max-width: 800px;
    min-height: 200px;
    max-height: 1500px;
    margin: 0 auto;
    border: 1px dashed palevioletred;
    padding: 2.5rem 0;
}

/* navbar */
nav {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

nav .nav-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-col {
    min-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-col-right {
    justify-content: flex-end;
    padding-right: 15px;
}

.nav-col .nav-logo {
    padding: 0rem .9rem;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 19px;
}

.btn {
    align-items: center;
}

.nav-col .nav-button {
    color: dimgrey;
    background-color: transparent;
    border: none;
    font-size: .8rem;
    padding: 1rem .75rem;
    text-align: center;
}

.nav-button.blue {
    background-color: #0061ff;
    color: #fff;
    padding: .35rem .7rem;
}
/* end navbar */

/* header */
header {
    background-color: #B4D0E7;
    width: 100%;
    min-height: 600px;
    padding-top: 3.75rem;
    margin-bottom: 50px;
}

header .big-container {
    position: relative;
    top: 40px;
}

.header-title {
    border: 1px dashed black;
    height: 130px;
}

.big-container .header-row {
    display: flex;
    width: 100%;
}

.big-container .header-col {
    width: 40%;
    height: calc(550px - 130px - 2rem);
    border: 1px dashed teal;
}

.header-col.header-col-right {
    flex-grow: 1;
}
/* end header */

/* main */
main {
    width: 100%;
    min-height: 1500px;
    background-color: white;
}

.section-title {
    padding-bottom: 40px;
}

/* I section */
.input-radio {
    padding-right: 20px;
    padding-bottom: 40px;
    display: inline-block;
}

main .gen-section-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.gen-section-row .first-section-col {
    width: calc((100% - 60px) / 3);
    height: 800px;
    border: 1px dashed palegoldenrod;
}

.jumbo-first-section-col {
    width: 100%;
    height: 200px;
    border: 1px dashed palegoldenrod;
}

.col-header {
    border: 1px dashed palegoldenrod;
    height: 35px;
    width: 100%;
}
/* end I section */

/* II section */
.second-section-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.second-section-col {
    width: 60%;
    border: 1px dashed palegoldenrod;
    min-height: 200px;
    max-height: 400px;
}

.second-section-col.jumbo, .fifth-section-col.jumbo {
    width: 40%;
}
/* end II section */

/* III section */
.third-section-col {
    width: calc((100% - 60px) / 3);
    height: 350px;
    border: 1px dashed palegoldenrod;
}
/* end III section */

/* IV section */

/* end IV section */

/* sezione brutta */
.malvagia {
    background-color: tomato;
    width: 100%;
    height: 400px;
}
/* end sezione brutta */

/* V section */
.lightblue-section {
    background-color: #B4D0E7;
    width: 100%;
}

.fifth-section-row {
    display: flex;
    height: 160px;
    width: 100%;
    gap: 30px;
}

.fifth-section-col {
    width: 60%;
    border: 1px dashed palegoldenrod;
    min-height: 160px;
    padding: 2rem 0;
}

.main-container.lower-padding {
    padding: 1rem 0;
}
/* end V section */

/* VI section */
.higher-padding {
    padding: 6rem 0;
}

.faq {
    padding: 1.5rem 0;
}
/* end VI section */

/* footer */
footer {
    background-color: #000;
    width: 100%;
    min-height: 400px;
}

.top-footer {
    min-height: 250px;
    display: flex;
    align-items: center;
}

.footer-row {
    display: flex;
    height: 180px;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.footer-col {
    width: calc((100% -20px) / 5);
    height: 100%;
    border: 1px dashed black;
}
/* end footer */