* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.big-container {
    /* background-color: burlywood; */
    max-width: 900px;
    min-height: 80px;
    max-height: 550px;
    margin: 0 auto;
    /* border: 1px dashed palevioletred; */
    padding: 2rem 0;
}

.main-container {
    max-width: 800px;
    min-height: 200px;
    max-height: 1500px;
    margin: 0 auto;
    border: 1px dashed palevioletred;
    padding: 2.5rem 0;
}

h1 {
    font-size: 3.7rem;
    line-height: 80px;
}

h2 {
    font-size: 2rem;
}

/* navbar */
nav {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 10px -5px grey;
}

nav .nav-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-col {
    min-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-col-right {
    justify-content: flex-end;
    padding-right: 15px;
}

.nav-col .nav-logo {
    padding: 0rem .9rem;
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 19px;
}

.btn {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.nav-col .nav-button {
    color: rgb(68, 68, 68);
    background-color: transparent;
    border: none;
    font-size: .8rem;
    padding: 1rem .75rem;
    text-align: center;
}

.nav-button.blue {
    background-color: #0061ff;
    color: #c4ddf1;
    padding: .35rem .7rem;
}
/* end navbar */

/* header */
header {
    background-color: #B4D0E7;
    width: 100%;
    min-height: 620px;
    padding-top: 3rem;
    margin-bottom: 70px;
}

header .big-container {
    position: relative;
    top: 40px;
}

.header-title {
    padding-bottom: 40px;
}

.big-container .header-row {
    display: flex;
    width: 100%;
}

.big-container .header-col {
    width: 30%;
    height: calc(550px - 130px - 2rem);
}

.header-col p {
    color: rgb(68, 68, 68);
    font-size: .78rem;
    padding-bottom: 25px;
    line-height: 17px;
}

.header-col.header-col-right {
    flex-grow: 1;
}

.header-col-right img {
    height: 350px;
}

.header-button {
    background-color: #0061ff;
    color: #c4ddf1;
    border: none;
    padding: .6rem .8rem;
    margin-bottom: 20px;
}

.fa-solid.fa-arrow-down {
    font-size: 40px;
    padding-top: 20px;
}
/* end header */

/* main */
main {
    width: 100%;
    min-height: 1500px;
    background-color: white;
}

.section-title {
    padding-bottom: 40px;
}

/* I section */
.input-radio {
    padding-right: 20px;
    padding-bottom: 40px;
    display: inline-block;
}

.input-radio span {
    font-size: .7rem;
    color: rgb(68, 68, 68);
}

input[type=radio] {
    vertical-align: middle;
}

main .gen-section-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

.gen-section-row .first-section-col {
    width: calc((100% - 80px) / 3);
    height: 750px;
}

.jumbo-first-section-col {
    width: 100%;
    height: 200px;
}

.card {
    height: 100%;
    border: 1px solid lightgray;
    font-size: .7rem;
    color: rgb(68, 68, 68);
}

.card-header {
    border-bottom: 1px solid lightgray;
    height: 35px;
    width: 100%;
    padding: .7rem;
    text-align: center;
    font-size: .7rem;
}

.card i {
    color: black;
    height: 20px;
    padding-right: 3px;
}

.card-body {
    padding: 2rem 1.5rem;
    height: 100%;
}

.card-body h3 {
    padding-bottom: 20px;
    font-size: 1.17rem;
    color: #000;
}

.card-body .subtitle {
    font-weight: bold;
    padding-bottom: 10px;
    color: #000;
}

.card-body .payment {
    color: rgb(149, 149, 149);
    padding-bottom: 40px;
}

.card-body .list {
    padding-bottom: 35px;
}

.list-items {
    padding-bottom: 10px;
}

.trial {
    width: 100%;
    padding-bottom: 23px;
    margin: 0 auto;
}

.trial-button {
    background-color: #0061ff;
    width: 100%;
    color: #c4ddf1;
    border: none;
    padding: .6rem 2rem;
    font-size: .7rem;
}

.division {
    padding-top: 30px;
    width: 40px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 40px;
}

.subtitle.padding-plus {
    padding-bottom: 1.5rem;
}

.fa-solid.fa-check.fa-pull-left {
    color: #0061ff;
}

/* end I section */

/* II section */
.second-section-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.second-section-col {
    width: 60%;
    border: 1px dashed palegoldenrod;
    min-height: 200px;
    max-height: 400px;
}

.second-section-col.jumbo, .fifth-section-col.jumbo {
    width: 40%;
}
/* end II section */

/* III section */
.third-section-col {
    width: calc((100% - 60px) / 3);
    height: 350px;
    border: 1px dashed palegoldenrod;
}
/* end III section */

/* IV section */

/* end IV section */

/* sezione brutta */
.malvagia {
    background-color: tomato;
    width: 100%;
    height: 400px;
}
/* end sezione brutta */

/* V section */
.lightblue-section {
    background-color: #B4D0E7;
    width: 100%;
}

.fifth-section-row {
    display: flex;
    height: 160px;
    width: 100%;
    gap: 30px;
}

.fifth-section-col {
    width: 60%;
    border: 1px dashed palegoldenrod;
    min-height: 160px;
    padding: 2rem 0;
}

.main-container.lower-padding {
    padding: 1rem 0;
}
/* end V section */

/* VI section */
.higher-padding {
    padding: 6rem 0;
}

.faq {
    padding: 1.5rem 0;
}
/* end VI section */

/* footer */
footer {
    background-color: #000;
    width: 100%;
    min-height: 400px;
}

.top-footer {
    min-height: 250px;
    display: flex;
    align-items: center;
}

.footer-row {
    display: flex;
    height: 180px;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.footer-col {
    width: calc((100% -20px) / 5);
    height: 100%;
    border: 1px dashed black;
}
/* end footer */